.main_page_body {
    background-image: url(https://getwallpapers.com/wallpaper/full/5/3/f/1152179-free-download-chocolate-chip-cookie-wallpaper-1920x1080.jpg);
}

.main_page_header {
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    background-color: #ADD8E6;
}

.header_text_container{
text-align: center;
border: 3px solid black;
border-radius: 30px;
padding-left: 20px;
padding-right: 20px;
background-color: white;

}

.cookie_image img {    
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 30px;
}

.main_page_button {
    background-color: greenyellow;
    
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
}

.cookieGameScreen {
    background-image: url(https://clipart-library.com/img/683843.jpg); 
}

.gamePlayOutline {
    display: flexbox;
    border: 3px solid black;
    border-radius: 30px;
    background-color:white;
}

.gamePlayCookie {
    border-radius: 30px;
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.gamePlayCookie:active {
    transform: scale(0.9);
}

.gamePlayPowerUps {
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
}

.gamePlayHomeButton {
    width: 25%;
    height: auto;
    background-color: white;
    margin-left: 415px;
}

.gamePlayContent {
display: flex;
justify-content: center;
margin-top: 50px;
}

.cookieClickTitle {
    text-align: center;
    text-decoration: underline;
}

.cookieCount {
    text-align: center;
}

.arrow {
    width: 10%;
    height: auto;
}

.powerUpsHeading {
    margin: 20px;
    text-decoration: underline;
    color: rgb(124, 124, 7);
}

.powerUpButtons {
    display: flex;
    margin: auto;
}

.youWinScreen {
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.NpOJbWrxXGTaKLi4YgJmHAHaFl&pid=Api&P=0&h=220);
}

.youWinTitle{
    display: flex;
    justify-content:center; 
}

.youWinHeader {
    background: yellow; 
text-align: center;
margin-top: 20px;
border: 3px solid black; 
border-radius: 30px;
width: fit-content;
}

.youWinText{
margin: 0px 10px 0px 10px;
}

.youWinButton {
    margin-left: 50px;
    margin-right: 50px; 
    margin-top: 250px;
}

.crown {
    width: 100px;

}

.trophy {
    height: auto;
    width: 40%;
    display:flex; 
    justify-content: center;
    margin-bottom: 25px;
}

.imgsTogether {
    display: flex;
    justify-content: center;
}

.squirrelDance img {
    width: 100px; 
    align-items: center;
  }

.spongebobEating img{
    width: 250px;
}

.finalScreenButtons{
    display: flex;
    justify-content: space-around;
}

.youWinButtons {
    margin-top: 50px; 
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 30px;
    width: auto;
    height: auto;
    font-size: 15px;

    background-color: greenyellow;
    
   
}
    

.everythingWinPage {
    border: 3px solid black;
    border-radius: 30px;
    background-color:white;
    margin-top: 50px;
}

#cookieCount {
    text-align: center;
}

#multiplierButtonPrice {
    text-align: center;
}